body{
    background-color: black;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 75px;
    margin-bottom: 45px;
    font-family: 'IBM Plex Sans', sans-serif;
    }


.logo1{
 
width: 229px;
height: 68px;
left: 517px;
top: 42px;
}

button {
margin-top: 30px;
margin-bottom: 50px;
color: white;
border: 2px solid white;
border-radius: 12px;
Width: 206px;
Height: 50px;
background-color: #121214;
}
button:hover{
background-color: rgba(232, 232, 219, 0.789);
cursor: pointer;
}

.container{

    display: flex;
    flex-direction: row;
}
.box {
  
 text-align: center;   
 width: 160px;
 height: 160px;
 margin: 15px;

}
.box:hover img{ 
 border-style: solid;
 transform: scale(1.2);
 transition: 1S ease;border: solid white;
}
.boxperfil:hover {
    background-color: white;
    border: none;
    transition: all;
  }
p {
  color: rgb(156, 150, 150);
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
h2{
 font-family: IBM Plex Sans;
 font-size: 32px;
 font-weight: 600;
 line-height: 42px;
 letter-spacing: 0em;
text-align: center;
 color: #ffffff;
   
width: 334px;
height: 42px;
left: 464px;
top: 183px;
}
